.event {
  transition: 0.5s;
  width: 35%;
  border: 1px grey solid;
  margin: 5% 8% 3% 7%;
  background-color: rgb(255, 243, 242);
  text-align: justify;
  position: relative;
  box-shadow: 0px 0px 15px rgb(180, 180, 180);
  padding-bottom: 60px;
  font-size: 1.5em;
}

.event:hover {
  transition: 0.5s;
  box-shadow: 0px 0px 20px #C2242A;
  transform: translateY(-5px) scale(1.03);
}

.event span {
  font-size: 1em;
}

.event a {
  width: 50%;
  height: 2.7em;
  background-color: #C2242A;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 5px 0px 4px 0px;
  position: absolute;
  bottom: -0.5px;
  border: 1px #C2242A solid;
  right: 0;
  font-size: 1.2em;
  font-weight: 800;
  line-height: 2.0em;
}

.event a:hover {
  background-color: #D7282F;
  box-shadow: none;
}

.event button {
  width: 50%;
  height: 2.7em;
  background-color: #C2242A;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 5px 0px 4px 0px;
  position: absolute;
  bottom: -0.5px;
  border: 1px #C2242A solid;
  font-size: 1.2em;
  font-weight: 800;
}

.event button:hover {
  background-color: #D7282F;
  box-shadow: none;
}

.event p {
  font-weight: 420;
  font-size: 1em;
  height: 9.5em;
  overflow: hidden;
  padding: 5px 15px 5px 15px;
  margin-bottom: 5px;
}

.event .eventTitle {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #C2242A;
  color: white;
  padding: 5px;
  font-size: 1.2em;
  box-shadow: 2px 2px 5px black;
  border: 1px #C2242A solid;
}

.eventImg {
  width: 100%;
  height: auto;
  box-shadow: 0px 3px 5px black;
}

.eventDate {
  margin-left: 15px;
}

.eventPrix {
  margin-left: 10%;
}

.eventInter{
  margin-left: 10%;
}

.event2 {
  width: 25%;
  transition: 0.5s;
  border: 1px grey solid;
  margin: 5% 3% 3% 5%;
  background-color: rgb(255, 243, 242);
  text-align: justify;
  position: relative;
  box-shadow: 0px 0px 15px rgb(180, 180, 180);
  font-size: 1.2em;
}

.event2:hover {
  transition: 0.5s;
  box-shadow: 0px 0px 20px #C2242A;
  transform: translateY(-5px) scale(1.03);
}

.event2 p, span {
  font-size: 0.7em;
}

.event2 a {
  width: 100%;
  height: auto;
  background-color: #C2242A;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 5px 0px 4px 0px;
  position: absolute;
  bottom: 2.5em;
  border: 1px #C2242A solid;
  margin-bottom: 15px;
}

.event2 a:hover {
  background-color: #D7282F;
  box-shadow: none;
}

.event2 p {
  font-weight: 420;
  font-size: 0.7em;
  height: 9.5em;
  overflow: hidden;
  padding: 5px 15px 5px 15px;
  margin-bottom: 5px;
}

.event2 .event2Title {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #C2242A;
  color: white;
  padding: 5px;
  font-size: 1.2em;
  box-shadow: 2px 2px 5px black;
  border: 1px #C2242A solid;
}

.event2Prix {
  padding-left: 30px;
}

.event2Vote {
  text-align: center;
  margin-bottom: 5px;
  transform: scale(1.1);
}

.event2Margin {
  margin-left: 15px;
}

.green {
  color: green;
}

.red {
  color: red;
}

.grey {
  color: grey;
}

@media only screen and (max-width: 1000px) {
  .event2 {
    border: 1px grey solid;
    width: 100%;
  }
  .event2 p, span {
    font-size: 0.7em;
  }

  .event{
      width: 100%;
  }
}
