* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    margin: 120px 0 200px 0;
}

.grid-container {
    max-width: 1500px;
    margin: auto;
}

.row{
    width: 100%;
}
.row:after, .row:before {
    content: "";
    clear: both;
    display: block;
}

.col-hide {
    display: none;
}


/* 12 Columns Grid System */
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
    float: left;
    padding: 15px;
    /* SHOW BORDERS HIT-BOX */
    /* border: 1px solid red; */
}

@media only screen and (min-width: 1000px) {
    /* For desktop: */

    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .center{
        margin-right: auto;
        margin-left: auto;
    }

    .col-hide {
        display: block;
    }
}
