@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.grid-container {
  max-width: 1500px;
  margin: auto; }

.row {
  width: 100%; }

.row:after, .row:before {
  content: "";
  clear: both;
  display: block; }

.col-hide {
  display: none; }

/* 12 Columns Grid System */
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
  float: left;
  padding: 15px;
  /* SHOW BORDERS HIT-BOX */
  /* border: 1px solid red; */ }

@media only screen and (min-width: 1000px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%; }

  .col-2 {
    width: 16.66%; }

  .col-3 {
    width: 25%; }

  .col-4 {
    width: 33.33%; }

  .col-5 {
    width: 41.66%; }

  .col-6 {
    width: 50%; }

  .col-7 {
    width: 58.33%; }

  .col-8 {
    width: 66.66%; }

  .col-9 {
    width: 75%; }

  .col-10 {
    width: 83.33%; }

  .col-11 {
    width: 91.66%; }

  .col-12 {
    width: 100%; }

  .center {
    margin-right: auto;
    margin-left: auto; }

  .col-hide {
    display: block; } }
* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'segoe ui', serif; }

.nav {
  width: 100%;
  line-height: 100px;
  height: 100px;
  background: #C2242A url("logobde.png") no-repeat center center;
  background-size: 80px 80px;
  position: fixed;
  top: 0; }

.nav > .nav-btn {
  display: none; }

.nav > .nav-links {
  display: inline;
  float: left;
  margin-left: 5%;
  font-size: 18px; }

.nav > .nav-links > .caché {
  display: none; }

.nav > .nav-links > a {
  display: inline-block;
  padding: 0 10px 0 10px;
  text-decoration: none;
  color: #efefef; }

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3); }

/*

*/
#search {
  -webkit-appearance: none;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  width: 24px;
  padding: 0 10px;
  height: 24px;
  font-size: 14px;
  color: #666;
  line-height: 24px;
  border: 0;
  border-radius: 50px;
  box-shadow: 0 0 0 1px rgba(255, 102, 102, 0.5), inset 0 2px 5px rgba(255, 153, 153, 0.3), 0 2px 0 rgba(255, 255, 255, 0.6);
  position: relative;
  z-index: 5;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease; }

#search:focus {
  outline: none;
  width: 180px; }

p.s {
  z-index: 4;
  position: relative;
  padding: 5px;
  line-height: 0;
  border-radius: 100px;
  background: #eb9396;
  background-image: -webkit-linear-gradient(#ffcccc, #ff9999);
  background-image: -moz-linear-gradient(#ffcccc, #ff9999);
  display: inline-block;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6), 0 2px 5px rgba(255, 147, 150, 0.4); }

p.s:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6), 0 2px 3px 2px rgba(255, 147, 150, 0.5); }

p.s:after {
  content: '';
  display: block;
  position: absolute;
  width: 5px;
  height: 20px;
  background: #eb9396;
  bottom: -10px;
  right: -3px;
  border-radius: 0 0 5px 5px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  box-shadow: inset 0 -1px 0 rgbA(255, 255, 255, 0.6), -2px 2px 2px rgba(255, 147, 150, 0.4); }

p.s:hover:after {
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.6), -2px 2px 2px 1px rgba(255, 147, 150, 0.5); }

/*

*/
.nav > .nav-links-right {
  display: inline;
  float: right;
  margin-right: 5%;
  font-size: 18px; }

.nav > .nav-links-right > a {
  display: inline-block;
  padding: 0 10px 0 10px;
  text-decoration: none;
  color: #efefef; }

.nav > .nav-links-right > a:hover {
  background-color: rgba(0, 0, 0, 0.3); }

.nav > #nav-check {
  display: none; }

@media (max-width: 900px) {
  .nav > .nav-links {
    font-size: 16px;
    margin-left: 1%; }

  .nav > .nav-links-right {
    font-size: 16px;
    margin-right: 1%; } }
@media (max-width: 800px) {
  .nav > .nav-btn {
    display: inline;
    padding-top: 20px;
    float: right;
    margin-right: 5%; }

  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 14px; }

  .nav > .nav-btn > label:hover {
    background-color: rgba(0, 0, 0, 0.3); }

  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee; }

  .nav > .nav-links {
    position: absolute;
    margin-left: 0;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 100px;
    left: 0; }

  .nav > .nav-links > a {
    padding: 13px 10px 13px 10px;
    line-height: 40px;
    display: block;
    width: 100%; }

  .nav > .nav-links > .caché {
    display: block; }

  /*

  */
  #form {
    background: #111;
    background: linear-gradient(#1b1b1b, #111);
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: inset 0 0 0 1px #272727;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0;
    padding: 20px; }

  #searchid {
    background: #222;
    background: linear-gradient(#333, #222);
    border: 1px solid #444;
    border-radius: 5px 0 0 5px;
    box-shadow: 0 2px 0 #000;
    color: #888;
    display: block;
    float: left;
    font-family: 'Cabin', helvetica, arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    height: 40px;
    margin: 0;
    padding: 0 10px;
    text-shadow: 0 -1px 0 #000;
    width: 200px; }

  .ie #searchid {
    line-height: 40px; }

  #searchid::-webkit-input-placeholder {
    color: #888; }

  #searchid:-moz-placeholder {
    color: #888; }

  #searchid:focus {
    animation: glow 800ms ease-out infinite alternate;
    background: #222922;
    background: linear-gradient(#333933, #222922);
    border-color: #393;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.2), inset 0 0 5px rgba(255, 0, 0, 0.1), 0 2px 0 #000;
    color: #efe;
    outline: none; }

  #searchid:focus::-webkit-input-placeholder {
    color: #efe; }

  #searchid:focus:-moz-placeholder {
    color: #efe; }

  #boutonsearchid {
    background: #222;
    background: linear-gradient(#333, #222);
    box-sizing: border-box;
    border: 1px solid #444;
    border-left-color: #000;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 2px 0 #000;
    color: #fff;
    display: block;
    float: left;
    font-family: 'Cabin', helvetica, arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0;
    position: relative;
    text-shadow: 0 -1px 0 #000;
    width: 80px; }

  #boutonsearchid:hover,
  #boutonsearchid:focus {
    background: #292929;
    background: linear-gradient(#393939, #292929);
    outline: none; }

  #boutonsearchid:active {
    background: #292929;
    background: linear-gradient(#393939, #292929);
    box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
    top: 1px; }

  @keyframes glow {
    0% {
      border-color: #ff3300;
      box-shadow: 0 0 5px rgba(255, 0, 0, 0.2), inset 0 0 5px rgba(255, 0, 0, 0.1), 0 2px 0 #000; }
    100% {
      border-color: #ff5c33;
      box-shadow: 0 0 20px rgba(255, 0, 0, 0.6), inset 0 0 10px rgba(255, 0, 0, 0.4), 0 2px 0 #000; } }
  /*

  */
  .nav > #nav-check:not(:checked) + .nav-links {
    height: 0; }

  .nav > #nav-check:checked + .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto; }

  .nav > .nav-links-right {
    display: none; } }
.membreBDE {
  transition: 0.5s;
  margin-top: 3%;
  margin-bottom: 3%;
  text-align: center;
  border: 1px black solid;
  border-radius: 15px;
  background-color: white;
  box-shadow: 2px 2px 10px black; }

.membreBDE p {
  font-size: 0.6em; }

.membreBDE:hover {
  transition: 0.5s;
  box-shadow: none;
  transform: translateY(5px);
  border-radius: 0; }

.social {
  height: 50px;
  width: 50px;
  border-radius: 50px; }

.h1Event {
  color: red;
  text-decoration: underline; }

.center {
  text-align: center; }

.round {
  border-radius: 500px; }

/*

    font-family: 'Roboto', sans-serif;

    font-family: 'Open Sans', sans-serif;

 */
input {
  width: 100%; }

.input-regular {
  width: 100%;
  height: 42px;
  border: 0;
  border-bottom: 2px solid #555;
  font-size: 18px; }

.input-regular:focus {
  border-bottom: 2px solid #C2242A; }

.input-submit-regular {
  width: 100%;
  height: 42px;
  border-radius: 10px;
  background-color: #C2242A;
  border: 0;
  color: #FFFFFF;
  font-size: 18px; }

.input-submit-regular:hover {
  cursor: pointer;
  box-shadow: 0 5px 10px 0px rgba(156, 39, 176, 0.3); }

body {
  padding-top: 150px; }

/*# sourceMappingURL=index.css.map */
