@import "partials/grid";
@import "partials/header";
@import "partials/footer";
@import "partials/common";
@import "partials/specific";
@import "partials/static-forms";

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,700);

body {
  font-family: 'Roboto', serif;
  position: relative;
  min-height: 100vh;
}