@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
@import "partials/grid";
@import "partials/web";
@import "partials/team";
@import "partials/footer";
@import "partials/event";

$red: #C2242A;
$grey: #F5F5F5;
$grey: #F5F5F5;
$warn: #f1c40f;
$danger: #f44336;
$success: #4caf50;

/*

    font-family: 'Roboto', sans-serif;

    font-family: 'Open Sans', sans-serif;

 */

input {
  width: 100%; }

.input-regular {
  width: 100%;
  height: 42px;
  border: 0;
  border-bottom: 2px solid #555;
  font-size: 18px; }

.input-regular:focus {
  border-bottom: 2px solid $red; }

.input-submit-regular {
  width: 100%;
  height: 42px;
  border-radius: 10px;
  background-color: $red;
  border: 0;
  color: #FFFFFF;
  font-size: 18px; }

.input-submit-regular:hover {
  cursor: pointer;
  box-shadow: 0 5px 10px 0 rgba(156, 39, 176, 0.3); }


body {

}

// MATHIEU
/*======================================= nav =======================================================*/
#search {
  -webkit-appearance: none;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  width: 24px;
  padding: 0 10px;
  height: 24px;
  font-size: 14px;
  color: #666;
  line-height: 24px;
  border: 0;
  border-radius: 50px;
  box-shadow: 0 0 0 1px rgba(255,102,102,.5), inset 0 2px 5px rgba(255,153,153,.3), 0 2px 0 rgba(255,255,255,.6);
  position: relative;
  z-index: 5;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
}

#search:focus {
  outline: none;
  width: 180px;
}

p.s {
  z-index: 4;
  position: relative;
  padding: 5px;
  line-height: 0;
  border-radius: 100px;
  background: #eb9396;
  background-image: -webkit-linear-gradient(#ffcccc,#ff9999);
  background-image: -moz-linear-gradient(#ffcccc,#ff9999);
  display: inline-block;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.6), 0 2px 5px rgba(255,147,150,.4);
}

p.s:hover {
  box-shadow: inset 0 1px 0 rgba(255,255,255,.6), 0 2px 3px 2px rgba(255,147,150,.5);
}

p.s:after {
  content: '';
  display: block;
  position: absolute;
  width: 5px;
  height: 20px;
  background: #eb9396;
  bottom: -10px;
  right: -3px;
  border-radius: 0 0 5px 5px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  box-shadow: inset 0 -1px 0 rgbA(255,255,255,.6), -2px 2px 2px rgba(255,147,150,.4);
}

p.s:hover:after {
  box-shadow: inset 0 -1px 0 rgba(255,255,255,.6), -2px 2px 2px 1px rgba(255,147,150,.5);
}

/*=====================================================================================*/

/*==================================== Pagination =====================================*/

.pagination{
  text-align:center;
  margin-bottom:2%;

}

.pagination button{
  transition: 0.5s;
  height: 30px;
  width: 30px;
  border: 1px #c2242a solid;
  background-color: white;
}

.pagination button:hover{
  transition: 0.5s;
  transform: scale(1.2) translateY(-2px);
  background-color: #c2242a;
  color: white;
}

/*=====================================================================================*/

/*==================================Carousel===========================================*/

.slideshow-container img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}



/* Fading animation */
/*.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}*/

@-webkit-keyframes fade {
  from {opacity: .2}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .2}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
/*=====================================================================================*/
.center{
  text-align: center;
}

.round{
  border-radius: 500px;
}

/*===================================== Footer ========================================*/
