@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
@import "partials/grid";
//@import "partials/web";
@import "partials/footer";
//@import "partials/event";
@import "partials/inscription";
@import "partials/connexion";
@import "partials/nav";

$red: #C2242A;
$grey: #F5F5F5;
$grey: #F5F5F5;
$warn: #f1c40f;
$danger: #f44336;
$success: #4caf50;




* {
  box-sizing: border-box;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'segoe ui', serif;
  position: relative;
  padding-bottom: 6rem;
  min-height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}