

.article {
  width: 90%;
  transition: 0.5s;
  border: 1px grey solid;
  margin: 5% 5% 5% 5%;
  background-color: rgb(255, 243, 242);
  text-align: justify;
  position: relative;
  left: 0px;
  box-shadow: 0px 0px 15px rgb(180, 180, 180);
  padding-bottom: 50px;
}

.article:hover {
  transition: 0.5s;
  box-shadow: 0px 0px 20px #C2242A;
}

.article a {
  width: 100%;
  height: auto;
  background-color: #C2242A;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 5px 0px 4px 0px;
  position: absolute;
  bottom: -0.5px;
  border: 1px #C2242A solid;
}

.article a:hover {
  background-color: #D7282F;
}



.shopImg{
  width: 100%;
  height: auto;
  box-shadow: 0px 3px 5px black;
}

.shopCategorie{
  margin:10px 0px 10px 0px;
  color: rgb(150,150,150);
}

.shopTitre{
  margin-bottom: 10px;
}

.shopInput{
  border-radius: 5px;
}

.shopSelect{
  border-radius: 5px;
}




.panierPC {
  display: none;
}

.panierPortable {
  border: 1px grey solid;
}

.panierPortable a {
  text-decoration: none;
  color: black;
}

.panierPortable hr {
  margin: 1% 0% 1% 0%;
}
.panierProtable hr{
  border: 1px solid darkgrey;
}





@media only screen and (min-width: 1000px) {
  .panierPC {
    display: block;
    position: fixed;
    top: 17em;
    left: 0px;
    width: 13em;
    background-color: rgb(220, 220, 220);
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgb(180, 180, 180);
  }
  .panierPC a {
    text-decoration: none;
    color: black;
  }
  .panierPC h2 {
    text-align: center;
  }
  .panierPC hr{
    border: 1px solid darkgrey;
  }

  .panierPC p{
    margin: 5px 0px 5px 0px
  }
  .panierPortable {
    display: none;
  }
  .article {
    transform: scale(1.1);
    left: 100px;
    width: 20%;
    margin: 5% 0% 3% 10%;
  }
}
