body {
  margin: 100px 0 0 0;
  font-family: 'segoe ui';
  min-height: 100%;
}

.nav {
  width: 100%;
  line-height: 100px;
  height: 100px;
  background-image:url(logobde.png);
  background-position:center center;
  background-repeat: no-repeat;
  background-size: 80px 80px;
  background-color: #C2242A;
  position: fixed;
  top: 0px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: left;
  margin-left: 5%;
  font-size: 18px;
}
.nav > .nav-links > .caché {
  display: none;
}
.nav > .nav-links > a {
  display: inline-block;
  padding: 0px 10px 0px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
/*

*/
#search {
    -webkit-appearance: none;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    width: 24px;
    padding: 0 10px;
    height: 24px;
    font-size: 14px;
    color: #666;
    line-height: 24px;
    border: 0;
    border-radius: 50px;
    box-shadow: 0 0 0 1px rgba(255,102,102,.5), inset 0 2px 5px rgba(255,153,153,.3), 0 2px 0 rgba(255,255,255,.6);
    position: relative;
    z-index: 5;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
}

#search:focus {
    outline: none;
    width: 180px;
}

p.s {
    z-index: 4;
    position: relative;
    padding: 5px;
    line-height: 0;
    border-radius: 100px;
    background: #eb9396;
    background-image: -webkit-linear-gradient(#ffcccc,#ff9999);
    background-image: -moz-linear-gradient(#ffcccc,#ff9999);
    display: inline-block;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.6), 0 2px 5px rgba(255,147,150,.4);
}

p.s:hover {
    box-shadow: inset 0 1px 0 rgba(255,255,255,.6), 0 2px 3px 2px rgba(255,147,150,.5);
}

p.s:after {
    content: '';
    display: block;
    position: absolute;
    width: 5px;
    height: 20px;
    background: #eb9396;
    bottom: -10px;
    right: -3px;
    border-radius: 0 0 5px 5px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    box-shadow: inset 0 -1px 0 rgbA(255,255,255,.6), -2px 2px 2px rgba(255,147,150,.4);
}

p.s:hover:after {
    box-shadow: inset 0 -1px 0 rgba(255,255,255,.6), -2px 2px 2px 1px rgba(255,147,150,.5);
}
/*

*/
.nav > .nav-links-right {
  display: inline;
  float: right;
  margin-right: 5%;
  font-size: 18px;
}

.nav > .nav-links-right > a {
  display: inline-block;
  padding: 0px 10px 0px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links-right > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}
@media (max-width:900px) {
  .nav > .nav-links {
    font-size: 16px;
    margin-left: 1%;
  }
  .nav > .nav-links-right {
    margin-right: 1%;
    font-size: 16px;
  }
}
@media (max-width:800px) {

  .nav > .nav-btn {
    display: inline;
    padding-top: 20px;
    float: right;
    margin-right: 5%;

  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 14px;
  }
  .nav > .nav-btn > label:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    margin-left: 0px;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 100px;
    left: 0px;
  }
  .nav > .nav-links > a {
    padding: 13px 10px 13px 10px;
    line-height: 40px;
    display: block;
    width: 100%;
  }
  .nav > .nav-links > .caché {
    display: block;
  }
  /*

  */

  #form {
	background: #111;
	background: linear-gradient(#1b1b1b, #111);
	border: 1px solid #000;
	border-radius: 5px;
	box-shadow: inset 0 0 0 1px #272727;
	display: inline-block;
  position: relative;
  left: 50%;
	transform: translateX(-50%);
	font-size: 0px;
	padding: 20px;
}

#searchid {
	background: #222;
	background: linear-gradient(#333, #222);
	border: 1px solid #444;
	border-radius: 5px 0 0 5px;
	box-shadow: 0 2px 0 #000;
	color: #888;
	display: block;
	float: left;
	font-family: 'Cabin', helvetica, arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	height: 40px;
	margin: 0;
	padding: 0 10px;
	text-shadow: 0 -1px 0 #000;
	width: 200px;
}

.ie #searchid {
	line-height: 40px;
}

#searchid::-webkit-input-placeholder {
   color: #888;
}

#searchid:-moz-placeholder {
   color: #888;
}

#searchid:focus {
	animation: glow 800ms ease-out infinite alternate;
	background: #222922;
	background: linear-gradient(#333933, #222922);
	border-color: #393;
	box-shadow: 0 0 5px rgba(255,0,0,.2), inset 0 0 5px rgba(255,0,0,.1), 0 2px 0 #000;
	color: #efe;
	outline: none;
}

#searchid:focus::-webkit-input-placeholder {
	color: #efe;
}

#searchid:focus:-moz-placeholder {
	color: #efe;
}

#boutonsearchid {
	background: #222;
	background: linear-gradient(#333, #222);
	box-sizing: border-box;
	border: 1px solid #444;
	border-left-color: #000;
	border-radius: 0 5px 5px 0;
	box-shadow: 0 2px 0 #000;
	color: #fff;
	display: block;
	float: left;
	font-family: 'Cabin', helvetica, arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	height: 40px;
	line-height: 40px;
	margin: 0;
	padding: 0;
	position: relative;
	text-shadow: 0 -1px 0 #000;
	width: 80px;
}

#boutonsearchid:hover,
#boutonsearchid:focus {
	background: #292929;
	background: linear-gradient(#393939, #292929);
	outline: none;
}

#boutonsearchid:active {
	background: #292929;
	background: linear-gradient(#393939, #292929);
	box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
	top: 1px;
}

@keyframes glow {
    0% {
		border-color: #ff3300;
		box-shadow: 0 0 5px rgba(255,0,0,.2), inset 0 0 5px rgba(255,0,0,.1), 0 2px 0 #000;
    }
    100% {
		border-color: #ff5c33;
		box-shadow: 0 0 20px rgba(255,0,0,.6), inset 0 0 10px rgba(255,0,0,.4), 0 2px 0 #000;
    }
}

  /*

  */
  .nav > #nav-check:not(:checked) + .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked + .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }

  .nav > .nav-links-right {
    display: none;
  }

}
/*
titre
*/
.titre {
  text-align: center;
  color: white;
  background-color: #C2242A;
  padding-bottom: 5px;
  font-family: 'Roboto', sans-serif;
}
.titre h2{
  font-weight: normal;
}
.titre h3{
  font-weight: normal;
}

/*
mentions legales
*/
.texte {
  margin-left: 5%;
  margin-right: 5%;
}

/*

*/

.footer-distributed {
  margin-top: 10px;
  position: static;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #F5F5F5;
  text-align: center;
}
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	font: bold 16px sans-serif;
	padding: 20px 50px 20px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
}

/* Footer centre */

.footer-distributed .footer-center{
	width: 36%;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}
.titrefooter{
	text-align: center;
	color:  #ffffff;
	font-size: 20px;
	font-weight: bold;
}
.mentionslegales{
	font-size: 14px;
	color:  #ffffff;
	font-weight: 300;
	text-decoration: none;
}
/* The company logo */

.logobderond{
	display: block;
	margin: 0 auto;
	width: 120px;
}


/* Footer left */

.footer-distributed .footer-left{
	width: 31%;
	vertical-align: text-bottom;
	text-align: left;
}

.footer-distributed .footer-left i{
	color: #ffffff;
	font-size: 23px;
	text-align: center;
	margin: 10px 15px;
	vertical-align: middle;
	line-height: 50%;
	width: 38px;
	height: 38px;
}

#logoadresse {
	line-height: inherit;
}
.footer-distributed .footer-left i.fa-envelope{
	/*line-height: inherit;*/
	font-size: 17px;
}
.footer-distributed .footer-left i.fa-map-marker{
	/*line-height: 50%;*/
}
.footer-distributed .footer-left p{
	display: inline-block;
	color: #ffffff;
}

.footer-distributed .footer-left p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-left p a{
	color:  #5383d3;
	text-decoration: none;
	line-height:1.5;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 31%;
	text-align: left;
	vertical-align: text-bottom;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;

}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 900px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
