
.footer-distributed {
  position: absolute;
  bottom: 0;
  padding: 1rem;
  background-color: #F5F5F5;
  text-align: center;
}
.footer-distributed{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  font: bold 16px sans-serif;
  padding: 20px 50px 20px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
}

/* Footer centre */

.footer-distributed .footer-center{
  width: 36%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
.titrefooter{
  text-align: center;
  color:  #ffffff;
  font-size: 20px;
  font-weight: bold;
}
.mentionslegales{
  font-size: 14px;
  color:  #ffffff;
  font-weight: 300;
  text-decoration: none;
}
/* The company logo */

.logobderond{
  display: block;
  margin: 0 auto;
  width: 120px;
}


/* Footer left */

.footer-distributed .footer-left{
  width: 31%;
  vertical-align: text-bottom;
  text-align: left;
}

.footer-distributed .footer-left i{
  color: #ffffff;
  font-size: 23px;
  text-align: center;
  margin: 10px 15px;
  vertical-align: middle;
  line-height: 50%;
  width: 38px;
  height: 38px;
}

#logoadresse {
  line-height: inherit;
}
.footer-distributed .footer-left i.fa-envelope{
  /*line-height: inherit;*/
  font-size: 17px;
}
.footer-distributed .footer-left i.fa-map-marker{
  /*line-height: 50%;*/
}
.footer-distributed .footer-left p{
  display: inline-block;
  color: #ffffff;
}

.footer-distributed .footer-left p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-left p a{
  color:  #5383d3;
  text-decoration: none;
  line-height:1.5;
}


/* Footer Right */

.footer-distributed .footer-right{
  width: 31%;
  text-align: left;
  vertical-align: text-bottom;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;

}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 900px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}