.commentaire {
  height: 400px;
  overflow: scroll;
  margin-bottom: 2%;
  overflow-x: hidden;
}

.commentaire p {
  text-align: justify;
}

.inputcom {
  margin-left: 5px;
  min-width: 100%;
  max-width: 100%;
  min-height: 5em;
}

.commentaire button, .commentaire input[type=submit] {
  background-color: #C2242A;
  color: white;
  border: none;
  height: 45px;
  width: 120px
}

.commentaire button:hover, .commentaire input[type=submit]:hover {
  background-color: #D7282F;
}

.commentaire h3{
  padding-top: 15px;
}





.scrollbar::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.scrollbar::-webkit-scrollbar-thumb {
  background: rgb(230,230,230);
  border-radius: 10px;
}

/* Handle on hover */
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgb(240,240,240);
  border-radius: 10px;
}



.manif-details-img {
  max-height: 500px;
  width: auto;
}



.green{
  color: green;
}

.red{
  color: red;
}

.grey{
  color: grey;
}

.padTop{
  padding-top: 30px;
}


.photo-comment {
  width: 100%;
  display: block;
  margin-top: 10px;
  float: left;
}
.photo-comment-message {
  width: 80%;
  display: block;
}
.photo-comment-report {
  width: 20%;
  float: left;
  display: block;
}
.photo-comment-message-reported {
  display: none;
}
