.shop-article {
  width: 200px;
  height: 170px;
  border: 1px solid #4d4d4d;
  border-radius: 4px;
  margin: 20px;
}
.shop-article-title {
  font-size: 1.4em;
  font-weight: bold;
  color: #ffffff;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding-left: 10px;
  background-color: #C2242A;
}

.shop-article-description, .shop-article-price, .shop-article-quantity  {
  width: 100%;
  height: 40px;
  padding: 5px;
}

.shop-article-description {
  font-size: 0.9em;
  color: #222222;
  overflow: hidden;
}

.shop-article-price {
  font-size: 1em;
  font-weight: bold;
}

.shop-article-quantity {

}

.shop-article-btn {
  width: 100%;
  height: 40px;
  background-color: transparent;
  color: #323232;
  font-size: 1.1em;
  font-weight: bold;
  border: 0;
  border-radius: 4px;
}

.shop-article-btn:hover {
  color: #C2242A;
  cursor: pointer;
}